body {
  background-image:url('../img/bg.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-color: transparent;
  background-size:100%;
  background-position:center;
}


table {
    *border-collapse: collapse; /* IE7 and lower */
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
}

.bordered {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered th {
    background-color: #FFF6FF;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.main-container {
  margin: 0 auto;
  max-width: 700px;
}

.content-container {
  margin: 10% 0;
  text-align: center;
}
.content-container h1 {
  font-size: 72px;
  line-height: 1;
}

.message {
  font-size: 24.5px;
  line-height: 40px;
  text-rendering: optimizelegibility;
  color: white;
}

.search-button {
  display: inline-block;
  border-radius: 6px;
  color: #FFFFFF;
  cursor: pointer;
  border-color: #FFFFFF;
  text-shadow: 0px 0px #FFFFFF;
  font-size: 21px;
  padding: 14px 24px;
  background-color: #3498DB;
}

.search-button:hover, .search-button:focus {
  text-decoration: none;
  color: #FFFFFF;
}

.datepicker td.active, .datepicker td.active:hover {
  background-image: linear-gradient(to bottom, #3498DB, #3498DB)
}